[submodule "imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "libcplot"]
	path = deps/libcplot
	url = https://github.com/davidl09/Complex-plot
	branch = lib
[submodule "deps/SDL"]
	path = deps/SDL
	url = git@github.com:libsdl-org/SDL.git
	branch = SDL2
