[submodule "submodules/SDL"]
	path = submodules/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "submodules/portable-file-dialogs"]
	path = submodules/portable-file-dialogs
	url = https://github.com/samhocevar/portable-file-dialogs.git
[submodule "submodules/astParser"]
	path = submodules/astParser
	url = https://github.com/davidl09/astParser
[submodule "submodules/imgui"]
	path = submodules/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
